<html xmlns:th="http://thymeleaf.org">

<head>
 <title>Transactions</title>
</head>

 <body>

        <div th:if="${transaction != null}">
	            <h1>
		              Transaction ID: [[${transaction.id}]] (
		              <span th:text="${transaction.type == 'C'} ? 'Credit' : 'Debit'"></span>
		              )
	         </h1>

	         <div>Date: [[${transaction.date}]]</div>
	         <div>
		             Amount:
		             <span th:text="${transaction.type == 'C'} ? '-' : ''"></span>
		             [[${transaction.amount}]]
			 </div>
			 <div>Description: [[${transaction.description}]]</div>
		</div>
		<div th:unless="${transaction != null}">
		        <h2>Invalid transaction.</h2>
		</div>
	<a href="/transactions" >Back</a>
	
  </body>
  
 </html>
